/*
================
Main Styles
================
*/
h1 {
	font-family: 'Passion One', cursive;
	font-size: 3em;
	color: #fff;
	margin: 16px 0;
	text-shadow:
	    0 1px 0px #378ab4,
	    1px 0 0px #5dabcd,
	    1px 2px 1px #378ab4,
	    2px 1px 1px #5dabcd,
	    2px 3px 2px #378ab4,
	    3px 2px 2px #5dabcd,
	    3px 4px 2px #378ab4,
	    4px 3px 3px #5dabcd,
	    4px 5px 3px #378ab4,
	    5px 4px 2px #5dabcd,
	    5px 6px 2px #378ab4,
	    6px 5px 2px #5dabcd,
	    6px 7px 1px #378ab4,
	    7px 6px 1px #5dabcd,
	    7px 8px 0px #378ab4,
	    8px 7px 0px #5dabcd;
}
p, table, li {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.25em;
	color: #fff;
	margin: 10px;
}
.main-content {
	float: left;
	position: absolute;
	width: 500px;
	height: 100%;
	background-color: grey;
	background: -webkit-linear-gradient(top, #960909, #E56D6D);
	border: none;
}
.quiz-content {
	position: relative;
	top: 25%;
	width: 450px;
	margin: auto;
	text-align: center; 
}
.background-img {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: 100px;
	background-image: url("../images/norway.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}
button {
	margin: 4px;
	width: 100px;
	height: 40px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.25em;
	color: #801515;
	background-color: #FFAAAA;
	border: solid;
	border-radius: 4px;
	border-color: #FFAAAA;
}
button:hover {
	color: #FFAAAA;
	background-color: #801515;
	border-color: #801515;
}
button:active {
	color: #FFAAAA;
	background-color: #6A0000;
	border-color: #6A0000;
}
/*
================
Question Pages
================
*/
#question-content,
#answer-page,
#game-over {
	display: none;
}

table {
	text-align: left;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
/*
================
Game Over Page
================
*/




/*
================
Media Queries
================
*/
@media screen and (max-width: 640px) {
	body {
		background-image: url("../images/norway.jpg");
		background-size: right;
	}
	.main-content {
		position: absolute;
		top: 25%;
		width: 100%;
		height: 100%;
		background-color: grey;
	}
	.quiz-content {
		position: relative;
		top: 0;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
	.background-img {
		position: absolute;
		width: 100%;
		height: 50%;
		top: -150px;
		margin-left: 0px;
		background-image: url("../images/norway.jpg");
	    background-size: cover;
	    background-repeat: no-repeat;
	    border: none;
	}
}
@media screen and (min-width: 640px) and (max-width: 768px) {
	.main-content {
		position: absolute;
		top: 25%;
		width: 100%;
		height: 100%;
		background-color: grey;
	}
	.quiz-content {
		position: relative;
		top: 0;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
	.background-img {
		position: absolute;
		width: 100%;
		height: 50%;
		top: -125px;
		margin-left: 0px;
		background-image: url("../images/norway.jpg");
	    background-size: cover;
	    background-repeat: no-repeat;
	    border: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 980px) {
	.main-content {
		position: absolute;
		width: 400px;
		height: 100%;
		background-color: grey;
	}
	.quiz-content {
		position: relative;
		top: 25%;
		width: 350px;
		margin: auto;
		text-align: center; 
	}
	.background-img {
		position: absolute;
		width: 100%;
		height: 100%;
		margin-left: 100px;
		background-image: url("../images/norway.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		border: none;
	}
}